<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChemAmigo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DD91D471BEA68E1006C02E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DD91D5B1BEA68E1006C02E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DD91D661BEA68E1006C02E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
